.TodoContainer {
  grid-area: TodoContainer;
}
.TodoCounter {
  grid-area: TodoCounter;
}
.TodoSearch {
  grid-area: TodoSearch;
}
.TodoList {
  grid-area: TodoList;
}
.TodoItem {
  grid-area: TodoItem;
}
.CreateTodoButton {
  grid-area: CreateTodoButton;
}
.TodoLogo {
  grid-area: TodoLogo;
  justify-self: center;
  align-self: center;
}

.TodoContainer {
  background-color: #eedece;
  opacity: 1;
  background-image: radial-gradient(#b09d8a 0.1px, #eedece 2px);
  background-size: 15px 15px;
  border: 1px solid #b09d8a;
  margin: 2em 2em 2em 2em;
  border-radius: 20px;
  display: grid;
}

@media (max-width: 767px) {
  .TodoContainer {
    grid-template-columns: 1fr;
    padding-bottom: 2em;
    grid-template-rows: auto;
    grid-template-areas:
      "TodoCounter"
      "TodoSearch"
      "TodoList"
      "CreateTodoButton";
  }
  .TodoLogo {
    display: none;
  }
}

@media (min-width: 768px) {
  .TodoContainer {
    /* margin: 2em 20em 2em 20em; */
    padding: 1em 6em 1em 6em;
    grid-template-areas:
      "TodoLogo"
      "TodoCounter"
      "TodoSearch"
      "TodoList"
      "CreateTodoButton";
  }
  .TodoLogo {
    width: 10em;
    display: flex;
    justify-content: center;
  }
}
